.navbar {
  background-color: white !important;
  .logo {
    font-family: $header-font;
    font-size: 32px;
    color: black;
    padding: 10px 0;
  }
  .links {
    a {
      margin: 0 10px;
      color: #333;
    }
  }
  @media (max-width: 992px) {
    .logo {
      font-size: 25px;
    }
  }
}
